<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <ul>
            <h2>Folders: </h2>
            <% folders.map(folder=>{%>
                <li><a href="/folder/<%= folder.id %>"><%= folder.name%></a></li>
            <%})%>
        </ul>
        <ul>
            <h2>Files: </h2>
            <% files.map(file=>{%>
                <li><%= file.filename %>
                    <form action="/delete-file" method="post">
                    <a href="<%= file.fileUrl %>" target="_blank">View</a>
                    <input type="hidden" name="fileId" value="<%=file.id%>">
                    <a href="<%= file.fileUrl.replace('/upload/', '/upload/fl_attachment/') %>">Download</a>
                    <button onclick="copyToClipboard('<%= file.fileUrl %>')">Copy Link</button>
                    <button type="submit">Delete</button>
                    </form>
                </li>

            <%})%>
        </ul>
        <a href="/upload">Add new file</a>
        <script>
            function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(() => {
                alert("Link copied to clipboard!");
                }).catch(err => {
                alert("Failed to copy link.");
                console.error(err);
                });
            }
        </script>

    </body>
</html>